<div class="scaffold">

<h2>New photo</h2>

<% form_for(@photo, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= label :photo, :picture %>
    <%= file_field_tag :picture_file %>
    <span class="hint">
       Just accept JPEG, GIF, or PNG files up to 500 KB.
    </span>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
<%= link_to 'Back', photos_path %>
</div>
