<div class="scaffold">
<p>
  <b>Title:</b>
  <%=h @photo.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @photo.description %>
</p>

<p>
  <b>Url full:</b>
  <%=h @photo.url_full %>
</p>

<p>
  <b>Url thumbnail:</b>
  <%=h @photo.url_thumbnail %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
<%= link_to 'Back', photos_path %>

</div>
