<div class="scaffold">
<p>
  <b>Title:</b>
  <%=h @photo.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @photo.description %>
</p>

<p>
  <b>Picture:</b>
</p>
<div>
   <img src="/photos/<%=@photo.id%>.jpg?thumbnail=true" />
</div>

<br>

<hr>

<br>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>


</div>
